@page "/"
@using SVEC.Components;

<PageTitle>SVEC - Stardew Valley Event Creator</PageTitle>

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="SVEC.styles.css" rel="stylesheet">
</head>
<body>
    <FormCardContainer Title="Triggers">
        <FormCard Header="Context"></FormCard>
        <FormCard Header="Current Player"></FormCard>
        <FormCard Header="Host Player"></FormCard>
    </FormCardContainer>
</body>
</html>